# Node modules
node_modules/

# Logs
npm-debug.log*
log.out

# Environment files
.env

# OS files
.DS_Store

# Editor folders
.vscode/
.idea/

# Build / runtime
dist/
coverage/
.cache/

# Project specific
out/
w3s-dynamic-storage/

# Dependency directories
.npm/
